![alt text](https://i.imgur.com/1WaY7aA.png)

# Lab 6.6
## Feature Encoding

### Data

**Predict the chronic kidney disease.**

This dataset can be used to predict the chronic kidney disease and it can be collected from the hospital nearly 2 months of period.

We use the following representation to collect the dataset 
- age	-	age	
- bp	-	blood pressure 
- sg	-	specific gravity 
- al	- albumin 
- su	-	sugar 
- rbc	-	red blood cells 
- pc	-	pus cell 
- pcc	-	pus cell clumps 
- ba	-	bacteria 
- bgr	-	blood glucose random 
- bu	-	blood urea 
- sc	-	serum creatinine 
- sod	-	sodium 
- pot	-	potassium 
- hemo	-	hemoglobin 
- pcv	-	packed cell volume 
- wc	-	white blood cell count 
- rc	-	red blood cell count 
- htn	-	hypertension 
- dm	-	diabetes mellitus 
- cad	-	coronary artery disease 
- appet	-	appetite 
- pe	-	pedal edema 
- ane	-	anemia 
- class	-	class




[Chronic Kidney Disease DataSet](https://archive.ics.uci.edu/ml/datasets/chronic_kidney_disease)

In [1]:
# Import Libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#### 1. Load Data

In [3]:
# Read Data
kidney = pd.read_csv('../../DATA//kidney_disease.csv', index_col=['id'])

#### 2. Perform EDA

In [4]:
# Check Shape
kidney.shape

(400, 25)

In [5]:
# Check Head
kidney.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [6]:
# Check Data Types
kidney.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 25 columns):
age               391 non-null float64
bp                388 non-null float64
sg                353 non-null float64
al                354 non-null float64
su                351 non-null float64
rbc               248 non-null object
pc                335 non-null object
pcc               396 non-null object
ba                396 non-null object
bgr               356 non-null float64
bu                381 non-null float64
sc                383 non-null float64
sod               313 non-null float64
pot               312 non-null float64
hemo              348 non-null float64
pcv               330 non-null object
wc                295 non-null object
rc                270 non-null object
htn               398 non-null object
dm                398 non-null object
cad               398 non-null object
appet             399 non-null object
pe                399 non-null object
ane               399 non-null object
classification    400 non-null object
dtypes: float64(11), object(14)
memory usage: 81.2+ KB

In [7]:
# Check Null Values
kidney.isnull().sum()

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [8]:
# CLean pcv
kidney['pcv'] = pd.to_numeric(kidney['pcv'], errors='coerce')

In [9]:
# CLean wc
kidney['wc'] = pd.to_numeric(kidney['wc'], errors='coerce')

In [10]:
# CLean rc
kidney['rc'] = pd.to_numeric(kidney['rc'], errors='coerce')

In [11]:
# Clean dm
kidney['dm'] = kidney['dm'].apply(lambda x: 'no' if x == '\tno' else x)
kidney['dm'] = kidney['dm'].apply(lambda x: 'yes' if x == '\tyes' else x)
kidney['dm'] = kidney['dm'].str.strip()

In [12]:
# Clean cad
kidney['cad'] = kidney['cad'].apply(lambda x: 'no' if x == '\tno' else x)

In [13]:
# Clean classification
kidney['classification'] = kidney['classification'].apply(lambda x: 'ckd' if x == 'ckd\t' else x)

In [14]:
for c in kidney.select_dtypes(np.object):
    print(c)
    print(kidney[c].value_counts())
    print('-'*50)

rbc
normal      201
abnormal     47
Name: rbc, dtype: int64
--------------------------------------------------
pc
normal      259
abnormal     76
Name: pc, dtype: int64
--------------------------------------------------
pcc
notpresent    354
present        42
Name: pcc, dtype: int64
--------------------------------------------------
ba
notpresent    374
present        22
Name: ba, dtype: int64
--------------------------------------------------
htn
no     251
yes    147
Name: htn, dtype: int64
--------------------------------------------------
dm
no     261
yes    137
Name: dm, dtype: int64
--------------------------------------------------
cad
no     364
yes     34
Name: cad, dtype: int64
--------------------------------------------------
appet
good    317
poor     82
Name: appet, dtype: int64
--------------------------------------------------
pe
no     323
yes     76
Name: pe, dtype: int64
--------------------------------------------------
ane
no     339
yes     60
Name: ane, dtype: int64
--------------------------------------------------
classification
ckd       250
notckd    150
Name: classification, dtype: int64
--------------------------------------------------

In [ ]:
# Copied code from seaborn examples
# https://seaborn.pydata.org/examples/many_pairwise_correlations.html
sns.set(style="white")

# Generate a mask for the upper triangle
mask = np.zeros_like(kidney.corr(), dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(18, 18))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(kidney.corr(), mask=mask, cmap=cmap, vmax=1, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5}, annot=True)

plt.show();

#### Impute Null Values

In [114]:
from sklearn.preprocessing.imputation import Imputer

In [140]:
def impute_null(df, column_name, srategy='median'):
    imputer = Imputer(missing_values = np.NaN, strategy = srategy, axis = 0)
    imputer = imputer.fit(df[[column_name]])
    return imputer.transform(df[[column_name]])

In [138]:
for l in list(kidney.select_dtypes(np.number).columns):
    kidney[l] = impute_null(kidney, l)

In [168]:
for l in list(kidney.select_dtypes(np.object).columns):
    kidney[l].fillna(kidney[l].value_counts().index[0], inplace=True)

In [169]:
kidney.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

#### 3. Label Encoder

Encode labels with value between 0 and n_classes-1.

In [170]:
# Categorical boolean mask
categorical_feature_mask = kidney.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = kidney.columns[categorical_feature_mask].tolist()

In [171]:
# import labelencoder
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()

In [174]:
# apply le on categorical feature columns
kidney[categorical_cols] = kidney[categorical_cols].apply(lambda col: le.fit_transform(col))
kidney[categorical_cols].head(10)

    rbc  pc  pcc  ba  htn  dm  cad  appet  pe  ane  classification
id
0     1   1    0   0    1   1    0      0   0    0               0
1     1   1    0   0    0   0    0      0   0    0               0
2     1   1    0   0    0   1    0      1   0    1               0
3     1   0    1   0    1   0    0      1   1    1               0
4     1   1    0   0    0   0    0      0   0    0               0
5     1   1    0   0    1   1    0      0   1    0               0
6     1   1    0   0    0   0    0      0   0    0               0
7     1   0    0   0    0   1    0      0   1    0               0
8     1   0    1   0    1   1    0      0   0    1               0
9     0   0    1   0    1   1    0      1   0    1               0

#### 4. OneHotEncoder 

Encode categorical integer features as a one-hot numeric array.

The input to this transformer should be an array-like of integers or strings, denoting the values taken on by categorical (discrete) features. The features are encoded using a one-hot (aka ‘one-of-K’ or ‘dummy’) encoding scheme. This creates a binary column for each category and returns a sparse matrix or dense array.

By default, the encoder derives the categories based on the unique values in each feature. Alternatively, you can also specify the categories manually. The OneHotEncoder previously assumed that the input features take on values in the range [0, max(values)). This behaviour is deprecated.

This encoding is needed for feeding categorical data to many scikit-learn estimators, notably linear models and SVMs with the standard kernels.

In [176]:
# import OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
# instantiate OneHotEncoder
ohe = OneHotEncoder(categorical_features = categorical_feature_mask, sparse=False ) 
# categorical_features = boolean mask for categorical columns
# sparse = False output an array not sparse matrix

In [177]:
# apply OneHotEncoder on categorical feature columns
kidney_ohe = ohe.fit_transform(kidney) # It returns an numpy array

In [178]:
kidney_ohe

array([[0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        4.40000000e+01, 7.80000000e+03, 5.20000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        3.80000000e+01, 6.00000000e+03, 4.70743494e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        3.10000000e+01, 7.50000000e+03, 4.70743494e+00],
       ...,
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        4.90000000e+01, 6.60000000e+03, 5.40000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        5.10000000e+01, 7.20000000e+03, 5.90000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00, ...,
        5.30000000e+01, 6.80000000e+03, 6.10000000e+00]])

#### 5. Dummy Variables

Convert categorical variable into dummy/indicator variables

In [180]:
# Get dummies
kidney = pd.get_dummies(kidney, prefix_sep='_', drop_first=True)
# X head
kidney.columns

Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
       'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc', 'htn', 'dm', 'cad',
       'appet', 'pe', 'ane', 'classification'],
      dtype='object')

####  6. Set Target

In [185]:
target_column = 'classification'
feature_columns = [c for c in kidney.columns if c != target_column]

In [186]:
feature_columns

['age',
 'bp',
 'sg',
 'al',
 'su',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wc',
 'rc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane']

In [188]:
y = kidney[target_column]
X = kidney[feature_columns]

In [189]:
X

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
id,,,,,,,,,,,,,,,,,,,,,
0,48.0,80.000000,1.020000,1.000000,0.000000,1,1,0,0,121.000000,...,15.400000,44.000000,7800.000000,5.200000,1,1,0,0,0,0
1,7.0,50.000000,1.020000,4.000000,0.000000,1,1,0,0,148.036517,...,11.300000,38.000000,6000.000000,4.707435,0,0,0,0,0,0
2,62.0,80.000000,1.010000,2.000000,3.000000,1,1,0,0,423.000000,...,9.600000,31.000000,7500.000000,4.707435,0,1,0,1,0,1
3,48.0,70.000000,1.005000,4.000000,0.000000,1,0,1,0,117.000000,...,11.200000,32.000000,6700.000000,3.900000,1,0,0,1,1,1
4,51.0,80.000000,1.010000,2.000000,0.000000,1,1,0,0,106.000000,...,11.600000,35.000000,7300.000000,4.600000,0,0,0,0,0,0
5,60.0,90.000000,1.015000,3.000000,0.000000,1,1,0,0,74.000000,...,12.200000,39.000000,7800.000000,4.400000,1,1,0,0,1,0
6,68.0,70.000000,1.010000,0.000000,0.000000,1,1,0,0,100.000000,...,12.400000,36.000000,8406.122449,4.707435,0,0,0,0,0,0
7,24.0,76.469072,1.015000,2.000000,4.000000,1,0,0,0,410.000000,...,12.400000,44.000000,6900.000000,5.000000,0,1,0,0,1,0
8,52.0,100.000000,1.015000,3.000000,0.000000,1,0,1,0,138.000000,...,10.800000,33.000000,9600.000000,4.000000,1,1,0,0,0,1
9,53.0,90.000000,1.020000,2.000000,0.000000,0,0,1,0,70.000000,...,9.500000,29.000000,12100.000000,3.700000,1,1,0,1,0,1
10,50.0,60.000000,1.010000,2.000000,4.000000,1,0,1,0,490.000000,...,9.400000,28.000000,8406.122449,4.707435,1,1,0,0,0,1
11,63.0,70.000000,1.010000,3.000000,0.000000,0,0,1,0,380.000000,...,10.800000,32.000000,4500.000000,3.800000,1,1,0,1,1,0
12,68.0,70.000000,1.015000,3.000000,1.000000,1,1,1,0,208.000000,...,9.700000,28.000000,12200.000000,3.400000,1,1,1,1,1,0
13,68.0,70.000000,1.017408,1.016949,0.450142,1,1,0,0,98.000000,...,9.800000,38.884498,8406.122449,4.707435,1,1,1,1,1,0
14,68.0,80.000000,1.010000,3.000000,2.000000,1,0,1,1,157.000000,...,5.600000,16.000000,11000.000000,2.600000,1,1,1,1,1,0
15,40.0,80.000000,1.015000,3.000000,0.000000,1,1,0,0,76.000000,...,7.600000,24.000000,3800.000000,2.800000,1,0,0,0,0,1
16,47.0,70.000000,1.015000,2.000000,0.000000,1,1,0,0,99.000000,...,12.600000,38.884498,8406.122449,4.707435,0,0,0,0,0,0
17,47.0,80.000000,1.017408,1.016949,0.450142,1,1,0,0,114.000000,...,12.100000,38.884498,8406.122449,4.707435,1,0,0,1,0,0
18,60.0,100.000000,1.025000,0.000000,3.000000,1,1,0,0,263.000000,...,12.700000,37.000000,11400.000000,4.300000,1,1,1,0,0,0
19,62.0,60.000000,1.015000,1.000000,0.000000,1,0,1,0,100.000000,...,10.300000,30.000000,5300.000000,3.700000,1,0,1,0,0,0
20,61.0,80.000000,1.015000,2.000000,0.000000,0,0,0,0,173.000000,...,7.700000,24.000000,9200.000000,3.200000,1,1,1,1,1,1
21,60.0,90.000000,1.017408,1.016949,0.450142,1,1,0,0,148.036517,...,10.900000,32.000000,6200.000000,3.600000,1,1,1,0,0,0
22,48.0,80.000000,1.025000,4.000000,0.000000,1,0,0,0,95.000000,...,9.800000,32.000000,6900.000000,3.400000,1,0,0,0,0,1
23,21.0,70.000000,1.010000,0.000000,0.000000,1,1,0,0,148.036517,...,12.526437,38.884498,8406.122449,4.707435,0,0,0,1,0,1
24,42.0,100.000000,1.015000,4.000000,0.000000,1,0,0,1,148.036517,...,11.100000,39.000000,8300.000000,4.600000,1,0,0,1,0,0
25,61.0,60.000000,1.025000,0.000000,0.000000,1,1,0,0,108.000000,...,9.900000,29.000000,8400.000000,3.700000,1,1,0,0,0,1
26,75.0,80.000000,1.015000,0.000000,0.000000,1,1,0,0,156.000000,...,11.600000,35.000000,10300.000000,4.000000,1,1,0,1,0,0
27,69.0,70.000000,1.010000,3.000000,4.000000,1,0,0,0,264.000000,...,12.500000,37.000000,9600.000000,4.100000,1,1,1,0,1,0
28,75.0,70.000000,1.017408,1.000000,3.000000,1,1,0,0,123.000000,...,12.526437,38.884498,8406.122449,4.707435,0,1,0,0,0,0
29,68.0,70.000000,1.005000,1.000000,0.000000,0,0,1,0,148.036517,...,12.900000,38.000000,8406.122449,4.707435,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,69.0,70.000000,1.020000,0.000000,0.000000,1,1,0,0,83.000000,...,16.200000,50.000000,9300.000000,5.400000,0,0,0,0,0,0
371,28.0,60.000000,1.025000,0.000000,0.000000,1,1,0,0,79.000000,...,17.600000,51.000000,6500.000000,5.000000,0,0,0,0,0,0
372,72.0,60.000000,1.020000,0.000000,0.000000,1,1,0,0,109.000000,...,15.000000,52.000000,10500.000000,5.500000,0,0,0,0,0,0
373,61.0,70.000000,1.025000,0.000000,0.000000,1,1,0,0,133.000000,...,13.700000,47.000000,9200.000000,4.900000,0,0,0,0,0,0
374,79.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,111.000000,...,16.300000,40.000000,8000.000000,6.400000,0,0,0,0,0,0
375,70.0,80.000000,1.020000,0.000000,0.000000,1,1,0,0,74.000000,...,15.100000,48.000000,9700.000000,5.600000,0,0,0,0,0,0
376,58.0,70.000000,1.025000,0.000000,0.000000,1,1,0,0,88.000000,...,16.400000,53.000000,9100.000000,5.200000,0,0,0,0,0,0
377,64.0,70.000000,1.020000,0.000000,0.000000,1,1,0,0,97.000000,...,13.800000,49.000000,6400.000000,4.800000,0,0,0,0,0,0
378,71.0,60.000000,1.025000,0.000000,0.000000,1,1,0,0,148.036517,...,15.200000,42.000000,7700.000000,5.500000,0,0,0,0,0,0
379,62.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,78.000000,...,16.100000,50.000000,5400.000000,5.700000,0,0,0,0,0,0
380,59.0,60.000000,1.020000,0.000000,0.000000,1,1,0,0,113.000000,...,15.300000,54.000000,6500.000000,4.900000,0,0,0,0,0,0
381,71.0,70.000000,1.025000,0.000000,0.000000,1,1,0,0,79.000000,...,16.600000,40.000000,5800.000000,5.900000,0,0,0,0,0,0
382,48.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,75.000000,...,16.800000,51.000000,6000.000000,6.500000,0,0,0,0,0,0
383,80.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,119.000000,...,13.900000,49.000000,5100.000000,5.000000,0,0,0,0,0,0
384,57.0,60.000000,1.020000,0.000000,0.000000,1,1,0,0,132.000000,...,15.400000,42.000000,11000.000000,4.500000,0,0,0,0,0,0
385,63.0,70.000000,1.020000,0.000000,0.000000,1,1,0,0,113.000000,...,16.500000,52.000000,8000.000000,5.100000,0,0,0,0,0,0
386,46.0,70.000000,1.025000,0.000000,0.000000,1,1,0,0,100.000000,...,16.400000,43.000000,5700.000000,6.500000,0,0,0,0,0,0
387,15.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,93.000000,...,16.700000,50.000000,6200.000000,5.200000,0,0,0,0,0,0
388,51.0,80.000000,1.020000,0.000000,0.000000,1,1,0,0,94.000000,...,15.500000,46.000000,9500.000000,6.400000,0,0,0,0,0,0
389,41.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,112.000000,...,17.000000,52.000000,7200.000000,5.800000,0,0,0,0,0,0
390,52.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,99.000000,...,15.000000,52.000000,6300.000000,5.300000,0,0,0,0,0,0
391,36.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,85.000000,...,15.600000,44.000000,5800.000000,6.300000,0,0,0,0,0,0
392,57.0,80.000000,1.020000,0.000000,0.000000,1,1,0,0,133.000000,...,14.800000,46.000000,6600.000000,5.500000,0,0,0,0,0,0
393,43.0,60.000000,1.025000,0.000000,0.000000,1,1,0,0,117.000000,...,13.000000,54.000000,7400.000000,5.400000,0,0,0,0,0,0
394,50.0,80.000000,1.020000,0.000000,0.000000,1,1,0,0,137.000000,...,14.100000,45.000000,9500.000000,4.600000,0,0,0,0,0,0
395,55.0,80.000000,1.020000,0.000000,0.000000,1,1,0,0,140.000000,...,15.700000,47.000000,6700.000000,4.900000,0,0,0,0,0,0
396,42.0,70.000000,1.025000,0.000000,0.000000,1,1,0,0,75.000000,...,16.500000,54.000000,7800.000000,6.200000,0,0,0,0,0,0
397,12.0,80.000000,1.020000,0.000000,0.000000,1,1,0,0,100.000000,...,15.800000,49.000000,6600.000000,5.400000,0,0,0,0,0,0
398,17.0,60.000000,1.025000,0.000000,0.000000,1,1,0,0,114.000000,...,14.200000,51.000000,7200.000000,5.900000,0,0,0,0,0,0
399,58.0,80.000000,1.025000,0.000000,0.000000,1,1,0,0,131.000000,...,15.800000,53.000000,6800.000000,6.100000,0,0,0,0,0,0

In [101]:
y

0      1
1      0
2      1
3      0
4      1
5      0
6      1
7      0
8      1
9      1
10     0
11     1
12     0
13     1
14     1
15     1
16     1
17     1
18     0
19     1
20     0
21     0
22     1
23     1
24     1
25     1
26     1
27     0
28     0
29     0
      ..
738    0
739    1
740    1
741    0
742    0
743    1
744    0
745    0
746    1
747    0
748    1
749    1
750    1
751    0
752    0
753    1
754    1
755    1
756    0
757    1
758    0
759    1
760    0
761    1
762    0
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

#### 4. Select Feature

The classes in the sklearn.feature_selection module can be used for feature selection/dimensionality reduction on sample sets, either to improve estimators’ accuracy scores or to boost their performance on very high-dimensional datasets.

##### 4.1 Univariate Selection

Univariate feature selection works by selecting the best features based on univariate statistical tests. It can be seen as a preprocessing step to an estimator. Scikit-learn exposes feature selection routines as objects that implement the transform method:

- SelectKBest removes all but the  highest scoring features
- Use sklearn.feature_selection.chi2 as score function
    > Recall that the chi-square test measures dependence between stochastic variables, so using this function “weeds out” the features that are the most likely to be independent of class and therefore irrelevant for classification.


More Reads:
[Univariate feature selection](https://scikit-learn.org/stable/modules/feature_selection.html)

- Create an instance of SelectKBest
    - Use sklearn.feature_selection.chi2 as score_func
    - Use k of your choice
- Fit X, y 
- Find top 4 features
- Transform features to a DataFrame

In [190]:
# Create an instance of SelectKBest
kbest = SelectKBest(score_func=chi2, k=4)

In [192]:
# Fit 
fit = kbest.fit(X, y)

In [193]:
# Print Score 
# Find Top 4 Features
pd.DataFrame(fit.scores_, index=feature_columns)

                  0
age      113.462452
bp        80.023863
sg         0.005524
al       228.067797
su       100.951947
rbc        3.754674
pc        10.696296
pcc       25.200000
ba        13.200000
bgr     2428.303583
bu      2336.007159
sc       354.405935
sod       28.796605
pot        4.056738
hemo     125.101692
pcv      324.639089
wc     12733.744679
rc        20.898725
htn       88.200000
dm        82.200000
cad       20.400000
appet     49.200000
pe        45.600000
ane       36.000000

In [194]:
# Transform X to Features
features = fit.transform(X)

In [195]:
# Transform features to a dataframe
pd.DataFrame(features)

              0           1          2             3
0    121.000000   36.000000   1.200000   7800.000000
1    148.036517   18.000000   0.800000   6000.000000
2    423.000000   53.000000   1.800000   7500.000000
3    117.000000   56.000000   3.800000   6700.000000
4    106.000000   26.000000   1.400000   7300.000000
5     74.000000   25.000000   1.100000   7800.000000
6    100.000000   54.000000  24.000000   8406.122449
7    410.000000   31.000000   1.100000   6900.000000
8    138.000000   60.000000   1.900000   9600.000000
9     70.000000  107.000000   7.200000  12100.000000
10   490.000000   55.000000   4.000000   8406.122449
11   380.000000   60.000000   2.700000   4500.000000
12   208.000000   72.000000   2.100000  12200.000000
13    98.000000   86.000000   4.600000   8406.122449
14   157.000000   90.000000   4.100000  11000.000000
15    76.000000  162.000000   9.600000   3800.000000
16    99.000000   46.000000   2.200000   8406.122449
17   114.000000   87.000000   5.200000   8406.122449
18   263.000000   27.000000   1.300000  11400.000000
19   100.000000   31.000000   1.600000   5300.000000
20   173.000000  148.000000   3.900000   9200.000000
21   148.036517  180.000000  76.000000   6200.000000
22    95.000000  163.000000   7.700000   6900.000000
23   148.036517   57.425722   3.072454   8406.122449
24   148.036517   50.000000   1.400000   8300.000000
25   108.000000   75.000000   1.900000   8400.000000
26   156.000000   45.000000   2.400000  10300.000000
27   264.000000   87.000000   2.700000   9600.000000
28   123.000000   31.000000   1.400000   8406.122449
29   148.036517   28.000000   1.400000   8406.122449
..          ...         ...        ...           ...
370   83.000000   42.000000   1.200000   9300.000000
371   79.000000   50.000000   0.500000   6500.000000
372  109.000000   26.000000   0.900000  10500.000000
373  133.000000   38.000000   1.000000   9200.000000
374  111.000000   44.000000   1.200000   8000.000000
375   74.000000   41.000000   0.500000   9700.000000
376   88.000000   16.000000   1.100000   9100.000000
377   97.000000   27.000000   0.700000   6400.000000
378  148.036517   57.425722   0.900000   7700.000000
379   78.000000   45.000000   0.600000   5400.000000
380  113.000000   23.000000   1.100000   6500.000000
381   79.000000   47.000000   0.500000   5800.000000
382   75.000000   22.000000   0.800000   6000.000000
383  119.000000   46.000000   0.700000   5100.000000
384  132.000000   18.000000   1.100000  11000.000000
385  113.000000   25.000000   0.600000   8000.000000
386  100.000000   47.000000   0.500000   5700.000000
387   93.000000   17.000000   0.900000   6200.000000
388   94.000000   15.000000   1.200000   9500.000000
389  112.000000   48.000000   0.700000   7200.000000
390   99.000000   25.000000   0.800000   6300.000000
391   85.000000   16.000000   1.100000   5800.000000
392  133.000000   48.000000   1.200000   6600.000000
393  117.000000   45.000000   0.700000   7400.000000
394  137.000000   46.000000   0.800000   9500.000000
395  140.000000   49.000000   0.500000   6700.000000
396   75.000000   31.000000   1.200000   7800.000000
397  100.000000   26.000000   0.600000   6600.000000
398  114.000000   50.000000   1.000000   7200.000000
399  131.000000   18.000000   1.100000   6800.000000

[400 rows x 4 columns]

##### 4.2 Recursive feature elimination

Given an external estimator that assigns weights to features (e.g., the coefficients of a linear model), recursive feature elimination (RFE) is to select features by recursively considering smaller and smaller sets of features. First, the estimator is trained on the initial set of features and the importance of each feature is obtained either through a coef_ attribute or through a feature_importances_ attribute. Then, the least important features are pruned from current set of features.That procedure is recursively repeated on the pruned set until the desired number of features to select is eventually reached.

More Reads:
[Recursive feature elimination](https://scikit-learn.org/stable/modules/feature_selection.html)

- Use RFE to extract feature
    - use LogisticRegression as estimator
    - Number of n_features_to_select as of your choice
- Fit X, y to RFE
- Find Selected Features

In [196]:
# feature extraction
model = LogisticRegression()
rfe = RFE(estimator=model, n_features_to_select=4)
fit = rfe.fit(X, y)
print("Num Features: %d", fit.n_features_) 
print("Selected Features: %s", fit.support_) 
print("Feature Ranking: %s", fit.ranking_)

Num Features: %d 4
Selected Features: %s [False False False  True False False False False False False False False
 False False False False False False  True  True False  True False False]
Feature Ranking: %s [19 14  3  1  7 12  9 16 20 15 18  4 13  5  6 11 21 10  1  1 17  1  2  8]

In [197]:
# Print Score 
# Find Top 4 Features
pd.DataFrame(fit.support_, index=feature_columns)

           0
age    False
bp     False
sg     False
al      True
su     False
rbc    False
pc     False
pcc    False
ba     False
bgr    False
bu     False
sc     False
sod    False
pot    False
hemo   False
pcv    False
wc     False
rc     False
htn     True
dm      True
cad    False
appet   True
pe     False
ane    False